
### App Runtime configuration ###
NODE_ENV=development
ENVIRONMENT=local

###  Prisma database sources ###
# @see https://www.prisma.io/docs/concepts/components/prisma-schema/data-sources
# Sqlite
DATABASE_URL="file:./api.db"
